---
layout: rightcol
rightcol_partial: rightcol-byteman.html.haml
title: Docs
---


/ Main hero unit for a primary marketing message or call to action
.row
  .col-md-16
    %h1 Byteman Project Documentation
    %br

    %h2 Using Byteman

    %dl.dl-horizontal

      %dt Programmer's Guide
      %dd
        %a(href="http://downloads.jboss.org/byteman/4.0.7/byteman-programmers-guide.pdf") 4.0.7 (latest) pdf
        |
        %a(href="http://downloads.jboss.org/byteman/4.0.7/byteman-programmers-guide.html") html

      %br

      %dt Tutorials
      %dd
        %a(href="http://community.jboss.org/wiki/ABytemanTutorial#top") Getting Started Tutorial
      %dt
      %dd
        %a(href="http://community.jboss.org/wiki/BMUnitUsingBytemanWithJUnitOrTestNGFromMavenAndAnt#top") BMUnit Tutorial
      %dt
      %dd
        %a(href="http://community.jboss.org/wiki/FaultInjectionTestingWithByteman#top") Advanced Fault Injection Tutorial
      %dt
      %dd
        %a(href="http://community.jboss.org/wiki/CheckingYourBytemanRuleScriptsUnderMaven") Rulecheck Maven Plugin Tutorial

      %br

    %h2 Presentations and Papers

    %dl.dl-horizontal

      %dt
        %a(href="http://developers.redhat.com/events/devnation/2016") DevNation 2016 SF
      %dd Monitoring Application-Specific Behavior Using Thermostat And Byteman
      %dt
      %dd Andrew Dinn
      %dt
      %dd
        %a(href="https://www.youtube.com/watch?v=teL7qnulUTM") View online

      %br

      %dt
        %a(href="http://www.jboss.org/events/JUDCon") JUDCon 2013 Boston
      %dd Full Control & Transparency 
      %dt
      %dd Josh West & Andrew Dinn
      %dt
      %dd
        %a(href="http://people.redhat.com/jowest/JUDCon2013FullControlAndTransparency_JoshWestAndrewDinn_20130611.pdf") Presentation pdf

      %br

      %dt
        %a(href="http://www.jboss.org/events/JUDCon") JUDCon 2013 Boston
      %dd Race Conditions
      %dt
      %dd Flavia Rainone
      %dt
      %dd
        %a(href="http://downloads.jboss.org/byteman/papers/JUDCon_presentation_flavia_race_conditions.pdf") Presentation pdf

      %br

      %dt
        %a(href="http://fosdem.org/2012/schedule/event/byteman") FOSDEM 2012
      %dd Tracing, Debugging and Testing with Byteman
      %dt
      %dd Andrew Dinn
      %dt
      %dd
        %a(href="http://downloads.jboss.org/byteman/papers/byteman-fosdem2012.pdf") Presentation pdf
      %dt
      %dd
        %a(href="http://vimeo.com/36395894") View Online

      %br

      %dt
        %a(href="http://www.jboss.org/events/JUDCon") JUDCon 2011 Boston
      %dd What's your Java app up to? Find out with Byteman
      %dt
      %dd Andrew Dinn
      %dt
      %dd
        %a(href="http://downloads.jboss.org/byteman/papers/byteman-judcon-2011.pdf") Presentation pdf

      %br

      %dt
        %a(href="http://www.aosd.net/2011/accepted_industry.html") AOSD 2011
      %dd Flexible, dynamic injection of structured advice using Byteman
      %dt
      %dd Andrew Dinn
      %dt
      %dd
        %a(href="http://downloads.jboss.org/byteman/papers/BytemanAOSD.pdf") Presentation pdf
      %dt
      %dd
        %a(href="http://portal.acm.org/citation.cfm?id=1960325&dl=ACM&coll=DL&CFID=15918599&CFTOKEN=55792332") Paper pdf

      %br

      %dt
        %a(href="http://community.jboss.org/wiki/NewcastleJBUGMarchMeeting") Newcastle JBUG 2011
      %dd Byteman: Tracing and Testing Made Easy
      %dt
      %dd Andrew Dinn
      %dt
      %dd
        %a(href="http://downloads.jboss.org/byteman/papers/BytemanNewcastleJBUGMar2011.pdf") Presentation pdf

      %br

      %dt
        %a(href="http://jazoon.com/") Jazoon June 2009
      %dd Byteman: Using Bytecode Manipulation to Automate Multi-Threaded Testing
      %dt
      %dd Andrew Dinn
      %dt
      %dd
        %a(href="http://downloads.jboss.org/byteman/papers/jazoon.pdf") Presentation pdf

      %br

    %h2 External Blog Posts

    %dl.dl-horizontal

      %dt Markus Eisele
      %dd
        %a(href="http://blog.eisele.net/2015/02/byteman-swiss-army-knife-for-byte-code.html") Byteman - a swiss army knife for byte code manipulation

      %dt C2B2
      %dd
        %a(href="http://blog.c2b2.co.uk/2012/07/using-custom-helpers-with-byteman.html") Using Custom Helpers with Byteman 

      %dt Someday Never Comes
      %dd
        %a(href="http://giallone.blogspot.co.uk/2014/10/use-byteman-in-jboss-fuse-fabric8-karaf.html") Use Byteman in JBoss Fuse / Fabric8 / Karaf 

      %dt Andriy Redko
      %dd
        %a(href="http://aredko.blogspot.co.uk/2013/04/fault-injection-with-byteman-and-junit.html") Fault Injection with Byteman and JUnit: do even more to ensure robustness of your applications

      %dt Java Benchmark Blog
      %dd
        %a(href="http://blog.javabenchmark.org/2013/04/fault-injection-in-your-junit-with.html") Fault injection in your JUnit with ByteMan 

      %dt Mulesoft//Blog
      %dd
        %a(href="http://blogs.mulesoft.com/dev/news-dev/error-handling-testing-with-byteman/") Error handling testing with Byteman

      %dt Rick Wagner
      %dd
        %a(href="http://developerblog.redhat.com/2013/09/03/changing-objects-in-flight-without-a-debugger/") Changing objects in flight, without a Debugger
      %dt
      %dd
        %a(href="http://rickwagner.blogspot.co.uk/2010/10/solve-your-java-runtime-mysteries.html") Solve your Java runtime mysteries easily with Byteman 

      %br

    %h2 Projects using Byteman

    %dl.dl-horizontal

      %dt Embedded
      %dd
        %a(href="http://www.hawkular.org/docs/components/btm/index.html#_overview") Hawkular BTM
      %dt
      %dd
        %a(href="http://arquillian.org/modules/byteman-extension/") Arquilian Byteman Extension
      %dd
        %a(href="https://github.com/RadekKoubsky/byteman-wildfly-log") Widlfly Logging Extension
      %dt BMUnit Tests
      %dd
        %a(href="http://wildfly.org/") Wildfly
      %dt
      %dd
        %a(href="http://narayana.io/") Narayana
      %dt
      %dd
        %a(href="http://hibernate.org/") Hibernate Core/OGM/Search
      %dt
      %dd
        %a(href="http://infinispan.org/") Infinispan
      %dt
      %dd
        %a(href="http://hornetq.jboss.org/") HornetQ
      %dt
      %dd
        %a(href="http://jgroups.org") JGroups
      %dt
      %dd
        %a(href="http://capedwarf.org/") CapeDwarf
      %dt
      %dd
        %a(href="http://www.ironjacamar.org") IronJacamar
      %dt
      %dd
        %a(href="http://www.mulesoft.com/") Mule
      %dt
      %dd
        %a(href="http://www.terracotta.org/") Terracotta
      %dt
      %dd
        %a(href="http://www.crashub.org") CRaSH
      %dt
      %dd
        %a(href="http://www.jacorb.org") Jacorb
