%footer.container
  .row
    .col-md-2.col-md-offset-1
      %h4 Navigate
      %ul.list-unstyled
        %li
          %a{:href => "#{site.base_url}/index.html", :title => "About"} About
        %li
          %a{:href => "https://community.jboss.org/en/byteman", :title => "Forums"} Forums
        %li
          %a{:href => "http://byteman.stage.jboss.org/downloads.html", :title => "Download"} Download
    .col-md-2
      %h4 Follow Us
      %ul.list-unstyled
        %li
          %a{:href => "http://bytemanblog.blogspot.co.uk/", :title => "Blog"} Blog
    .col-md-2
      %h4 Contribute
      %ul.list-unstyled
        %li
          %a{:href => "https://issues.jboss.org/browse/BYTEMAN", :title => "Submit a bug"} Submit a bug
        %li
          %a{:href => "http://github.com/bytemanproject/byteman", :title => "View the code"} View the Code
        %li
          %a{:href => "https://community.jboss.org/en/byteman/dev", :title => "Join the team"} Join the team
    .col-md-3.col-md-offset-1
      %h4 LGPL 2.1 License
      %p All dependencies of this project are available under the LGPL or a compatible license.

