%div#coolstuff
  %p.text-center
    %a{:href => "http://www.jboss.org/coolstuff/desktopwallpapers/byteman"}> Desktop Wallpaper
    &nbsp;|&nbsp;
    %a{:href => "http://www.cafepress.com/jbossorg/7779938"} Project Swag
  %a{:href => "http://www.jboss.org/coolstuff/desktopwallpapers/byteman"}
    %img.img-responsive.center-block{:alt => "Cool Stuff", :height => "110", :src => "http://static.jboss.org/byteman/images/byteman_coolstuff.png"}/


.div
.well
  %h3
    Latest Blog Posts
    %a.rss{:href => "http://bytemanblog.blogspot.com/feeds/posts/default?alt=rss"}
      %i.icon-rss
  #feed
    .text-center
    %script{ :type => 'text/javascript', :src => 'https://www.google.com/jsapi'}
    -# Uses Google Feed API to load blog.infinispan.org feed and replace the DOM elements
    :javascript
      google.load("feeds", "1");

      function initialize() {
        var feed = new google.feeds.Feed("http://bytemanblog.blogspot.com/feeds/posts/default?format=xml");
        feed.setNumEntries(4);
        feed.load(function(result) {
          if (!result.error) {
            var feedDiv = $('#feed');
            feedDiv.empty();
            for (var i = 0; i < result.feed.entries.length; i++) {
              var entry = result.feed.entries[i];
              var date = new Date(entry.publishedDate);
              var day = date.getDay();
              var month = date.getMonth();
              var year = date.getYear() + 1900;
              feedDiv.append('<h5><a href="' + entry.link + '">' + entry.title + '</a></h5>');
              feedDiv.append('<h6>' + entry.author + ' ' + day + '/' + month + '/' + year + '</h6>');
            }
          }
        })
      }
      google.setOnLoadCallback(initialize);

  %ul.listPosts
    %li
      %a.pull-right{:href=>"http://bytemanblog.blogspot.com"} More &raquo;
.div

.well
  %h3 Quick Install
  %ul{:style => "padding-left: 1em;"}
    %li
      %em Fedora:
      %div
        %code dnf install byteman
    %li
      %em macOS:
      %div
        %code brew install byteman
    %li
      %em RHEL:
      %div
        %code yum install byteman

.well
  #badges
    %ul
      %li.license-lgpl
        %a{:href => "http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html"}
          %em GNU Lesser General Public License, version 2.1
    %div{:style => "clear: both; height:1px;"}

%div
  %a{:href => "http://www.jboss.org/security.html"}/
  .projectpage-sprite.projectpage-sprite-securityimage

%div
  %a{:href => "http://www.jboss.org/security.html"}
    %img.img-responsive.center-block{:alt => "Find a security issue with a JBoss Project or Product? Report it now", :height => "110", :src => "http://static.jboss.org/common/images/securityissue.png"}/
